.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.788);
  font-size: 24px;
}

.nav-link:hover {
  color: rgb(64, 64, 64);
}

.btn-outline-success {
  color: #98d051;
  border-color: #98d051;
}

.btn-outline-success:hover {
  background-color: #98d051;
  border-color: #98d051;
}

.medium-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.788);
}
