/* .col > img {
  width: 350px;
  height: 200px;
  object-fit: cover;
} */

.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}

a > h3 {
  color: black;
}

a > h3:hover {
  color: rgb(64, 64, 64);
}
